div#content {
    width: 800px;
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'Univers';
}

p#text {
    width: 700px;
    margin: 0 auto;
    font-family: 'Univers';
}

p#aboutText {
    width: 700px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Univers';
}

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    right: 10;
    font-family: 'Univers';
}

.navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
}

.main {
    margin-top: 30px;
}

h1 {
    font-size: 20px;
    text-align: center;
    font-family: 'Univers';
}

p {
    font-size: 14px;
    text-align: center;
}

div#graphHolder {
    margin-top: 110px;
}

div#chartTitle {
    margin-left: 160px;
    margin-bottom: 30px;
}

div#small {
    margin-left: 160px;
    margin-bottom: 30px;
    font-size: 12px;
}

div#barChart {
    width: 500px;
    margin: 0 auto;
}

div#toggles {
    width: 150px;
    float: left;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 13px;
}

span.toggle {
    cursor: pointer;
    margin-right: 10px;
    float: left;
}

div#graphLabels {
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

div#labels {
    width: 500px;
    height: 15px;
}

div#descriptors {
    margin-top: 30px;
    width: 500px;
    font-weight: lighter;
}

div.text {
    float: left;
    text-align: center;
}

div.pointer {
    height: 15px;
    margin-top: 5px;
    float: left;
    border-left: thin solid black;
    border-right: thin solid black;
    border-bottom: thin solid black;
}

div.amador {
    width: 140px;
}

div.rensselaer {
    width: 245px;
    margin-left: 10px;
    margin-right: 10px;
}

div.blend {
    width: 85px;
}

div#footer_line {
    /* position: absolute; */
    height: 100px;
    /* bottom: 50; */
    width: 400px;
    border-bottom: 1px solid rgb(1, 113, 187);
    margin: 0 auto;
}

div#footer {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}

/* div#footer {
    position: absolute;
    text-align: center;
    font-size: 10px;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  } */

a {
    text-decoration: none;
    color: rgb(1, 113, 187);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    width: 30px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -4px;
    left: 105%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.rotate {
    /* Safari */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.sidebar {
    font-family: 'Univers';
    position: absolute;
    top: 0;
    bottom: 0;
    letter-spacing: 0.15em;
    left: 30px
}

.rotate_sidebar {
    bottom: 0;
    -webkit-transform-origin: 0 50%;
    -moz-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    -o-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(10%, 50%);
    -moz-transform: rotate(-90deg) translate(10%, 50%);
    -ms-transform: rotate(-90deg) translate(10%, 50%);
    -o-transform: rotate(-90deg) translate(10%, 50%);
    transform: rotate(-90deg) translate(10%, 50%);
    position: fixed;
}

div#secondaryContent {
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Univers';
}

span#social-icon-container {
    margin: 5px;
}

table {
    border-spacing: 0;
    width: 100%;
}

td, th {
    border-bottom: 0.1rem solid #e1e1e1;
    padding: 1.2rem 1.5rem;
    text-align: left;
    font-family: 'Univers';
}

td:first-child, th:first-child {
    padding-left: 0;
}

td:last-child, th:last-child {
    padding-right: 0;
}

.collapsible {
    /* background-color:#ddd; */
    color: rgb(1, 113, 187);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\002B';
    color: rgb(1, 113, 187);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
}

form {
    /* background-color: black; */
    text-align: center;
}

div#subscribe {
    margin-top: 50px;
}

div#subscribe_text {
    font-size: 14;
    padding-bottom: 10px;
}

div#articleHolder {
    padding-top: 40px;
}

/* label{
    padding-top: 50px;
} */

/* div#clear {
    padding-top: 50px;
} */

/* input {
    background-color: black;
} */